* {
    margin: 0;
    padding: 0;
}
.logo {
    width: 700px;
}
.logo-cont {
   display: flex;
   justify-content: center;
   align-items: flex-end;
   background-color: rgb(155, 5, 5);
   height: 70px;
}
.galey-cont {
    display: flex;
    justify-content: space-around;
    background-color: black;
    border: 1px solid black;
    padding-top: 15px;
}
.nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.link {
   text-decoration: none;
   font-size: 20px;
   color: blanchedalmond;
}
.main {
    display: flex;
    height: 300px;
}
.soc-links {
    width: 700px;
    background-color: rgb(126, 13, 13);
}

.col-link {
    color: orange;
}
.text {
    text-align: start;
    background-color:  rgb(155, 5, 5);
}
.p-col {
    color: blanchedalmond;
}
.title {
    width: 500px;
}
.tit-col {
    padding-left: 90px;
    background-color: grey;
}
.pad {
    padding-top: 20px;
}
hr {
    margin-top: 10px;
    width: 80px;
    margin-left: 70px;
}
.footer {
    display: flex;
    align-items: center;
    background-color: rgb(155, 5, 5);
    height: 70px;
}
 .foo {
    display: flex;
    justify-content: center;
    background-color: orange;
    width: 100%;
}